{% extends "layout.html" %}

{% block content %}


<div id="contentBar">
<h1>Admin</h1>
</div>

<div id="mainContent">
<span style="color:gray;">(Acesso só autorizado a administradores)</span>

<h3>Utilizadores Registados:</h3>

<table class="borders">
<tr><th>UID</th><th>USERNAME</th><th>EMAIL</th><th>TYPE</th><th>REG DATE</th><th></th></tr>
{% for user in users %}
<tr><td>{{user["uid"]}}</td><td>{{user["username"]}}</td><td>{{user["email"]}}</td><td>{{user["userRole"]}}</td><td>{{user["dateRegistration"]}}</td><td><button>delete</button></td></tr>
{% endfor %}
</table>

</div><!--/mainContent-->

<script>

</script>

{% endblock %}
